<mat-toolbar>
  <span>User List</span>
</mat-toolbar>

<div class="mat-elevation-z6" >
  <div class="spinner-container" *ngIf="dataSource.loading$ | async; else table_template">
      <mat-spinner></mat-spinner>
  </div>
  <ng-template #table_template>
    <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="login">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Login</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.login}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"
        routerLink="/user/{{row.login}}" ></mat-row>
    </mat-table>

  </ng-template>

  <mat-paginator #paginator
    [length]="totalUsers"
    [showFirstLastButtons]="showFirstLastButtons"
    [pageSizeOptions]="[]"
    [pageSize]="pageSize">
  </mat-paginator>
</div>
